{% block body %}
<form method="post" action="">
    <p>
        <input type="submit" name="clear" value="Clear session"
        onClick="this.form.action='{{ path('clear_session') }}';"
        >
    </p>
</form>
<p>The session contains:</p>
{{dump(session)}}
{% endblock %}