{% extends "base.html.twig" %}

{% block title %}JSON routes{% endblock %}

{% block body %}
    <div class="api">
        <h1>Available JSON routes</h1>
        <ul style="padding: 1em;">
            <li><a href="/api/quote">Todays quote</a></li>
        </ul>
    </div>
{% endblock %}