{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Lucky number{% endblock %}

{% block body %}
    <div class="lucky-number">
    <h1>Lucky number</h1>
    <h3 style="padding-top: 1em; text-align: center;">Your lucky number is: <span style="color: #fff;">{{ number }}</span></h3>
    <img class="img-lucky-number" src="{{ asset('img/lucky-number.png') }}" alt="Bild på lottobollar">
    </div>
{% endblock %}