{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="report">
        <h1>Report</h1>
        <h2 id="kmom01">kmom01</h2>
        <h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
            <p>Mina enda tidigare erfarenheter kommer från den nyligen avslutade kursen inom objektorienterad pythonprogrammering
                där vi har pratat och arbetat mycket med både klasser och arvsklasser. Jag tycker dock fortfarande att det är svårt att greppa
                helheten kring att programmera objektorientar på egen hand när det kommer till att strukturera upp det etc. det blir lätt att
                man faller tillbaka i det invanda mönstret med "vanlig" programmering. Jag ser därav fram emot att arbeta vidare med det i
                denna kurs så att arbeta objektorienterad förhoppningsvis snart känns som det nya "vanliga" sättet att arbeta på.
            </p>
        <h3>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
            <p>
                För att kunna skapa och arbeta med klasser behöver man först få en förståelse för vad en klass är. Kort fattat är en klass en mall för
                att kunna skapa objekt, ungefär som en ritning för att bygga ett hus. Ett hus har vissa grundkriterier som det måste bestå av, ex. en grund, väggar och tak.
                Däremot behöver inte måtten för dessa vara samma på alla hus, det innebär enbart att det måste finnas. På samma sätt fungerar en klass, det anger ett antal
                kriterie som ett objekt av klassen måste uppfylla. Ett objekt är alltså samma sak som ett hus som skapas utifrån en ritning. Det kallas för en instans av klassen
                och behöver bestå av alla de grundkriterier som klassen anger, däremot behöver inte alla instanser vara likadana utan kan anta olika värden för kriterierna. Lite som
                att ett hus kan vara olika högt och långt.
                När man skapar en klass måste man alltså först tänka ut vad klassens mening är, vilka är de gemensamma nämnarna som samtliga instanser som skapas utifrån klassen måste uppfylla?
            </p>
        <h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
            <p>
                Min första reflektion över kodbasen och strukturen är att det känns lättarbetat och rörigt på samma gång. Detta beror troligen på att Symfony
                är ett helt nytt ramverk för mig och jag kommer att behöva läsa och sätta mig in mer i det för att förstå strukturen. Twig är jag lite bekant med sedan
                tidigare och jag tycker det är en smidigt template motor att arbeta med, jag har dock även har mycket att lära för att förstå helheten för hur det fungerar.
                Men jag tycker som sagt att det hitills varit väldigt smidigt att arbeta med och ser fram emot att gräva ner mig mer i det hela.
            </p>
        <h3>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om?
        Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
            <p>
                Jag har bara kortat hunnit överblicka artikeln och därav inte hunnit sätta mig in så mycket i den ännu. Jag fastande dock vid stycket om DateTime och hur man
                kan arbeta objektorienterat med detta vid användandet av tid. Jag tycker även stycket om Security låter spännande med password hashing, hashing är någo jag inte riktigt fått grepp om tidigare
                och hoppas är något vi kommer att lära oss mer om under kursens gång.
            </p>
        <h3>Vilken är din TIL för detta kmom?</h3>
            <p>
                Min TIL för detta kmom var hur jag kunde presentera ett random citat från en array tillsammans med en tidsstämpel. Även allt jag hitills hunnit lära mig om Symfony.
            </p>
        <h2 id="kmom02">kmom02</h2>
            <p>här kommer redovisningstexten..</p>
        <h2 id="kmom03">kmom03</h2>
            <p>här kommer redovisningstexten..</p>
        <h2 id="kmom04">kmom04</h2>
            <p>här kommer redovisningstexten..</p>
        <h2 id="kmom05">kmom05</h2>
            <p>här kommer redovisningstexten..</p>
        <h2 id="kmom06">kmom06</h2>
            <p>här kommer redovisningstexten..</p>
        <h2 id="kmom07/10">kmom07/10</h2>
            <p>här kommer redovisningstexten..</p>
    </div>
{% endblock %}